<div class="c-app_developertest-body">
  <div class="c-app_developertest-layout">

      <!-- Flights search button -->
      <div class="c-button search-button" (click)="searchFlights()" id="flight-search-component-search-button">
          Search
      </div>

      <!-- FLIGHT TICKETS -->
      <div class="c-app_developertest-body-content" *ngIf="flightTickets" id="flight-search-component-flight-tickets-container">
          <!-- FLoop through flight tickets -->
          <div class="mb-sm flight-ticket" *ngFor="let ticket of flightTickets">
            <flight-ticket [ticket]="ticket" (bookButtonClick)="bookButtonClickHandler(ticket)"></flight-ticket>
          </div>
      </div>
  </div>
</div>
