<div class="c-flights_ticket-summary-segment">
  <div class="c-flights_ticket-summary-segment-carriers" id="flight-segment-component-airline-name">
    {{segment.AirlineName}}
  </div>
  <div class="c-flights_ticket-summary-segment-location c-flights_ticket-summary-segment-location--origin">
    <div class="c-flights_ticket-summary-segment-iata_time">
      <div class="c-flights_ticket-summary-segment-iata" id="flight-segment-component-origin-iata">
        {{segment.OriginIata}}
      </div>
      <div class="c-flights_ticket-summary-segment-time" id="flight-segment-component-departure-time">
        {{segment.Departure | date: 'HH:mm'}}
      </div>
    </div>
    <div class="c-flights_ticket-summary-segment-place" id="flight-segment-component-origin-display-name">
      {{segment.OriginDisplayName}}
    </div>
  </div>
  <div class="c-flights_ticket-summary-segment-route">
    <div class="c-flights_ticket_route">
      <div class="c-flights_ticket_route-container">
        <div class="c-flights_ticket_route-duration" id="flight-segment-component-duration">
          {{segment.Duration | minutesAsHours}}
        </div>
        <div class="c-flights_ticket_route-stops">
          <svg class="c-flights_ticket_route-stops-svg" width="100%" height="20" focusable="false">
            <line class="c-flights_ticket_route-stops-svg-line" x1="2" y1="3" x2="100%" y2="3" stroke-width="2" transform="translate(-1)" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="c-flights_ticket-summary-segment-location c-flights_ticket-summary-segment-location--destination">
    <div class="c-flights_ticket-summary-segment-iata_time">
      <div class="c-flights_ticket-summary-segment-iata" id="flight-segment-component-destination-iata">
        {{segment.DestinationIata}}
      </div>
      <div class="c-flights_ticket-summary-segment-time" id="flight-segment-component-arrival-time">
        {{segment.Arrival | date: 'HH:mm'}}
      </div>
    </div>
    <div class="c-flights_ticket-summary-segment-place" id="flight-segment-component-destination-display-name">
      {{segment.DestinationDisplayName}}
    </div>
  </div>
</div>
