<div class="c-flights_ticket" *ngIf="ticket">
  <div class="c-flights_ticket-container">
    <div class="c-flights_ticket-content" theme="secondary">
      <div class="c-flights_ticket-summary">
        <div class="c-flights_ticket-summary-content">
          <div class="c-flights_ticket-summary-header"></div>
          <!-- Flight Segments -->
          <div class="c-flights_ticket-summary-segments">
            <flight-segment
              *ngFor="let segment of ticket.Segments"
              [segment]="segment">
            </flight-segment>
          </div>
        </div>
        <!-- Summary -->
        <div class="c-flights_ticket-summary-deal">
          <div class="c-flights_ticket-summary-deal-main">
            <div class="c-flights_ticket-summary-deal-prices">
              <div
                class="c-flights_ticket-summary-deal-price c-flights_ticket-summary-deal-price--single"
                id="flight-segment-component-price">
                  {{ticket.Price | number:'1.0-3'}} {{ticket.Currency}}
              </div>
            </div>
          </div>
          <div class="c-flights_ticket-summary-deal-footer">
            <div class="c-flights_ticket-summary-deal-button c-button c-push_button" theme="redirect">
              <div class="c-button-layers">
                <div class="c-button-outline"></div>
                <div class="c-button-fill"></div>
              </div>
              <div
                class="c-button-content"
                (click)="bookClickHandler()"
                id="flight-segment-component-book-button">
                  Book
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
